@import '../animations.scss';

.MainContent {
  position: relative;
  background-color: #11181d;
  height: 65vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  color: var(--White);

  & p {
    font-weight: 400;
    z-index: 20;

    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;

    transform: translateY(20px);
    opacity: 0;

    animation: fadeUp 1s ease-in-out forwards;
  }

  &__Image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    left: 0;
    bottom: 0;

    mask-image: var(--Mask-Filter);
    transition: all 0.5s ease-in-out;

    transform: scale(1.3);
    animation: imgFadeIn .7s ease-in-out forwards;
  }

  &__Section {
    position: relative;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    text-decoration: none;
    color: var(--White);

    &First {
      position: relative;
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 3;
      padding: 40px;
      gap: 16px;
      opacity: 0;
      animation: fadeIn .7s ease-in-out forwards ;
    }

    &Second {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 2;
      padding: 40px;
      opacity: 0;
      animation: fadeIn .7s ease-in-out forwards;
      animation-delay: .4s;
    }

    &Third {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 2;
      grid-row-end: 3;
      padding: 40px;
      opacity: 0;
      animation: fadeIn .7s ease-in-out forwards;
      animation-delay: .6s;
    }

    &:hover {
      & .MainContent__Image {
        scale: 1.1;
      }

      & .superposition {
        transform: scale(1.1);
        opacity: 0.3;
      }
    }
  }
  &__Categories {
    display: flex;
    gap: 16px;
    font-size: 16px;
    z-index: 23;

    transform: translateY(20px);
    opacity: 0;

    animation: fadeUp 0.7s ease-in-out forwards;
  }
}

.MovieTitle {
  font-size: 72px;
  font-weight: 700;
  line-height: 0.9;
  color: var(--White);
  text-decoration: none;
  z-index: 21;
  transform: translateY(20px);
  opacity: 0;

  animation: fadeUp 0.7s ease-in-out forwards;
}

.SecondSection {
  padding: 24px;

  & h3 {
    font-size: 32px;
  }
}

.superposition {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--Body-bg);
  opacity: 0;

  transition: all 0.5s ease-in-out;
}
