.NavBar{
    width: var(--Nav-Width);
    height: 100vh;
    background-color: var(--Dark-Blue-Bg);
    backdrop-filter: blur(var(--Backdrop-Filter));

    position: fixed;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;

    & ul{
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    & a{
        color: var(--White);
        text-decoration: none;
    }

    &__Li{
        display: flex;
        gap: 8px;
        align-items: center;
        list-style: none;
        transition: color .3s ease-in-out;

        &:hover{
            color: var(--Accent-Blue);
        }
    }   
}
