@import "~@flaticon/flaticon-uicons/css/all/all";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  /* Primary Colors */
  --Accent-Blue: #359fe3;
  --Dark-Blue: #0f161b;
  --Dark-Blue-Bg: rgba(15, 22, 27, 0.851);
  --White: #ffffff;

  --Body-bg: #11181D;
  --Rating-circle: #359FE3;


  /* Effects */
  --Backdrop-Filter: 32px; 
  --Mask-Filter: linear-gradient(to top, transparent, var(--Body-bg));
  
  /* Layout */
  --Nav-Width: 200px;
}

body{
  color: var(--White);
  background-color: var(--Body-bg)
}